h1{
    text-align: center;
    font-family:Arial, sans-serif;
}
h3{
    text-align: left;
    font-family:Arial, sans-serif;
}

.b-green{
    background-color: #CFFDE1;
}
.b-red{
    background-color: #F48484;
}


table{
    border: 1px solid #000;
    width: 100%;
    font-family:Arial, sans-serif;
    font-size: 12px;
}

td,th{
    padding: 3px;
    border: 1px solid #000;
}

th{
    background-color: #0081C9;
    color: #fff;
}

.t-left{
    text-align: left;
}

.t-center{
    text-align: center;
}